/*==============Common CSS===================*/

body {
    font-family: $body-font;
    font-size: $body-font-size;
    color: $body-color;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
p {
    &:last-child{
    	margin-bottom: 0;
    }
}
// a, button, img, input, span {
//     @extend %basetransition; 
// }
input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea {
    @extend %borderradius5;
    @extend %borderzero;
    height: 50px;
    padding: 13px 20px;
}
.form-group {
    margin-bottom: 25px;
    .form-control{
        &:focus {
            box-shadow: none;
            @extend %primary-border-color;
        }
        &:hover {
            @extend %primary-border-color;
        }
    }
}
input[type=submit], button[type=submit]{
    @extend %cursorpointer;
}
input, textarea{
	@include placeholder{
		color: $body-color;
	}
}
textarea {
    height: 150px;
    padding: 10px 20px;
    @extend %w100;
    // margin-bottom: -7px;
    border-color: #ced4da;
    @extend %basetransition1;
    &:focus {
        @extend %primary-border-color;
    }
    &:hover {
        @extend %primary-border-color;
    }
}

/*========.section-title=========*/ 
.section-title {
    @extend %primary-color;
    margin-bottom: 50px;
    @include all-below-med{
        margin-bottom: 30px;
    }
    h1, h2 {
        @extend %primary-color;
        font-size: 36px;
        line-height: 36px;
        @extend %uppercase;
        margin-bottom: 0;
        @include  all-below-med{
            font-size: 30px;
        }
        @include  all-below-mobile-lg{
            font-size: 25px;
            line-height: 32px;
        }
    }
    h4{
        color: #808285;
        font-size: 18px;
        letter-spacing: 4px;
        @extend %uppercase;
        margin-bottom: 12px;
        @include all-below-med{
            font-size: 16px;
            letter-spacing: 3px;
            margin-bottom: 10px;
        }
        @include  all-below-mobile-lg{
            letter-spacing: 2px;
        }
    }
}
// .section-shape
.section-shape {
    @extend %posabsolute;
    left: 0;
    top: -98px;
    right: 0;
    @extend %zindex2;
    @include all-below-mobile-lg{
        top: -70px;
    }
    @include all-mx-mobile{
        top: -49px;
    }
    svg{
        width: 100%;
        height: 100px;
        @include all-below-mobile-lg{
            height: 72px;
        }
        @include all-mx-mobile{
            height: 50px;
        }
    }
    .section-title{
        margin-bottom: 0;
        margin-top: -36px;
    }
}

/*======.owl-dots customization=======*/
.owl-dots {
    @extend %textcenter;
    margin-top: 30px;
    div {
        height: 15px;
        width: 15px;
        background-color: #CCD1E9;
        @extend %displayinline;
        margin: 0 4px;
        @extend %borderradiusfiftypercent;
        &.active {
            @extend %primary-bg-color;
        }
    }
}
    
/*=====owl nav customization======*/
.owl-nav div {
    left: -55px;
    top: 50%;
    line-height: 56px;
    margin-top: -30px;
    width: 35px;
    height: 60px;
    font-size: 50px;
    @extend %posabsolute;
    @extend %displayinline;
    @extend %textcenter;
    @extend %basetransition1;
    @extend %primary-color;
    @include mx-large-desktops{
        left: -35px;
        width: 30px;
    }
    @include mx-desktops{
        left: -27px;
        width: 22px;
    }
    &.owl-next {
        left: auto;
        right: -55px;
        padding-left: 5px;
        padding-right: 0;
        border-radius: 5px 0px 0px 5px;
        @include mx-large-desktops{
            left: auto;
            right: -35px;
        }
        @include mx-desktops{
            left: auto;
            right:-27px;
        }
    }
    &:hover {
        @extend %secondary-color;
    }
}

// select {
//     font-size: 19px;
//     color: #0da0f4;
//     background-color: #fff;
//     padding: 8px 10px;
// }

/*========.nice-select=============*/ 
.nice-select {
    @extend %w100;
    @extend %borderradius5;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    border: 0;
    @extend %uppercase;
    font-size: 14px;
    font-weight: 500;
    @include all-below-mobile-lg{
        height: 40px;
        line-height: 40px;
    }
    .list {
        @extend %w100;
        box-shadow: none;
        border: 1px solid #ced4da;
        max-height: 405px;
    }
    &:focus {
        @extend %primary-border-color;
    }
    &:hover {
        @extend %primary-border-color;
    }
    &:after{
        right: 25px;
        border-color: #ced4da;
        width: 10px;
        height: 10px;
        margin-top: -6px;
    }
    &:hover:after {
        @extend %primary-border-color;
    }
}
// .ps__scrollbar-y {
//     background-color: #99822c !important;
// }


/*========== default checkbox style =============*/
input[type=checkbox]{
    display:none;
}
input[type=checkbox] + label:before {
    border: 1px solid rgb(255, 255, 255);
    content: "";
    @extend %displayinline;
    font-size: 30px;
    height: 20px;
    line-height: 11px;
    margin: -4px 5px 0 0;
    @extend %textcenter;
    vertical-align: middle;
    width: 20px;
    @extend %borderradiusfiftypercent;
    @extend %white-bg-color;
}
input[type=checkbox]:checked + label:before {
    content: "\f00c";
    font-family: fontawesome;
    color: #1d1d1b;
    font-size: 15px;
    padding-top: 4px;
}
label {
    margin-right: 10px;
    font-weight: normal;
    cursor: pointer;
}
/*========== default radio button style =============*/
input[type=radio]{
    display:none;
}
input[type=radio] + label:before {
    border: 1px solid rgb(255, 255, 255);
    content: "";
    @extend %displayinline;
    font-size: 30px;
    height: 20px;
    line-height: 11px;
    margin: -4px 5px 0 0;
    @extend %textcenter;
    vertical-align: middle;
    width: 20px;
    @extend %borderradiusfiftypercent;
    @extend %white-bg-color;
}
input[type=radio]:checked + label:before {
    content: "\f00c";
    font-family: fontawesome;
    color: #0F4A6E;
    font-size: 15px;
    padding-top: 4px;
}
label{
    @extend %body-color;
}

.stars {
    span {
        color: #F7BF00;;
        margin: 0 1px;
    }
}




// range slider
.range-slider {
    padding: 30px 0 0;
}
.pm-range-slider {
    height: 8px;
    @extend %secondary-bg-color;
    @extend %posrelative;
    @extend %borderradius5;
    &:before {
        height: 19px;
        width: 19px;
        @extend %secondary-bg-color;
        @extend %pseudo;
        @extend %borderradius50;
        top: 50%;
        transform: translate(-100%, -50%);
        left: 9px;
    }
    &:after {
        height: 19px;
        width: 19px;
        @extend %secondary-bg-color;
        @extend %pseudo;
        @extend %borderradius50;
        top: 50%;
        transform: translate(100%, -50%);
        right: 10px;
    }
    .ui-slider-handle {
        width: 19px;
        height: 19px;
        top: -5px;
        @extend %secondary-bg-color;
        border-radius: 100%;
        transition: inherit;
        &:focus {
            outline: none;
            border: none;
        }
    }
    .ui-widget-header {
        background-color: #EBEBEB;
        @extend %h100;
        top: 0;
    }
}
.slider-price {
    margin-top: 15px;
    @extend %textcenter;
    @extend %displayflex;
    @extend %justifybetween;
    input{
        max-width: 50%;
        background: none;
        padding: 0;
        border: 0;
        height: auto;
        @extend %body-color;
        font-size: 14px;
        margin-left: -14px;
        &.max-price{
            @extend %textright;
            margin-right: -15px;
        }
    }
}
.slider-labels{
    @extend %body-color;
    @extend %uppercase;
    font-size: 14px;
    span {
        @extend %posabsolute;
        left: -13px;
        top: -33px;
        &.max-text {
            left: auto;
            right: -13px;
        }
    }
}
