/*-------------part-exchange css-------------*/ 

.part-exchange-area{
    padding: 30px 0 170px;
    @include all-below-med{
        padding: 10px 0 150px;
    }
    @include all-below-mobile-lg{
        padding: 10px 0 100px;
    }
    .part-exchange-car{
        @include all-below-med{
            margin-bottom: 20px;
        }
    }
    .section-title{
        margin-bottom: 20px;
    }
}

// .reg-box
.reg-box{
    .reg-btn {
        background-color: #484848;
        color: #fff;
        text-transform: uppercase;
        padding: 6px;
        height: 54px;
        width: 55px;
        border-radius: 5px 0 0 5px;
        .dots-style {
            width: 40px;
            height: 40px;
            display: block;
            border-radius: 50%;
            text-align: center;
            line-height: 39px;
            font-weight: 700;
            border: 1px dashed #fff;
        }
    }
    .input-box{
        input[type=text] {
            height: 54px;
            padding: 12px 15px;
            font-size: 30px;
            text-transform: uppercase;
            font-family: 'charles_wright_bold_capsRg', Arial, sans-serif;
            font-weight: 700;
            border-radius: 0 5px 5px 0;
            width: 225px;
            border: 1px solid #D9E0E5;
            border-left: 0;
        }
    }
}
